<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>codeSpell - check you Python Notebooks with ease</title>
    <meta
      name="title"
      content="codeSpell - check you Python Notebooks with ease"
    />
    <meta
      name="description"
      content="Automatically scan your .ipynb Python Jupyter notebooks for grammar and spelling mistakes using our spellchecker."
    />
    <link rel="stylesheet" href="/styles.css" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://codespell.glitch.me" />
    <meta
      property="og:title"
      content="codeSpell - check you Python Notebooks with ease"
    />
    <meta
      property="og:description"
      content="Automatically scan your .ipynb Python Jupyter notebooks for grammar and spelling mistakes using our spellchecker."
    />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://codespell.glitch.me" />
    <meta
      property="twitter:title"
      content="codeSpell - check you Python Notebooks with ease"
    />
    <meta
      property="twitter:description"
      content="Automatically scan your .ipynb Python Jupyter notebooks for grammar and spelling mistakes using our spellchecker."
    />
  </head>
  <body>
    <div class="container">
      <h1>codeSpell - Jupyter Notebook Spellchecker</h1>

      <% if (typeof error !== 'undefined') { %>
      <div class="error"><%= error %></div>
      <% } %>

      <form action="/upload" method="POST" enctype="multipart/form-data">
        <div class="file-upload">
          <input
            type="file"
            name="notebook"
            id="notebook"
            accept=".ipynb"
            required
          />

          <label for="notebook" class="custom-file-upload">
            <i class="fa fa-upload"></i> Choose Notebook
          </label>

          <span id="file-name">No file chosen</span>
        </div>

        <button type="submit" class="submit-button">Check Spelling</button>
      </form>
    </div>

    <script>
      const fileInput = document.getElementById("notebook");
      const fileName = document.getElementById("file-name");

      fileInput.addEventListener("change", function () {
        if (fileInput.files.length > 0) {
          fileName.textContent = fileInput.files[0].name;
        } else {
          fileName.textContent = "No file chosen";
        }
      });
    </script>
  </body>
</html>
